@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

* {
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-variant: small-caps;
	color: black;
	font-size: 12px;
}

img {display: block; width: 100%;}

input[type="text"] ~ label 
	{font-size: 10px; overflow: hidden; vertical-align: top; padding-top: 2px;} /* label underneath input */

input[type="radio"] ~ label, input[type="checkbox"] ~ label
	{font-size: 12px; position: relative; bottom: 4px;}  /* label to right */

section.pc-header select ~ label {position: relative; top: -4px;}

section.pc-header select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	position: relative;
  	top: -0.3em;
	width: 95%;
	font-family: "Shadows Into Light Two", sans-serif;
	font-variant: normal;
	font-size: 16px;
	height: 1.75em;
	padding: 0px;
	background: white;
	border: none;
	border-bottom: 2px solid black;
}

h2 {font-size: 16px; font-weight: 900; margin: 0px; text-align: left;}

em {font-size: 14px; margin: 0.6em 0px 0px 0px;}

.neg-label {
	text-align: center;
	background-color: black;
	color: white;
	font-size: 10px;
	height: 40px;
	line-height: 1.0;
	padding: 3px;
}
.neg-label::first-line {font-size: 22px; font-weight: 900;}

.neg-label-one-line {font-size: 16px; height: 30px; position: relative; top: 4px;}

input {
	font-family: "Shadows Into Light Two", sans-serif;
	font-variant: normal;
	letter-spacing: 1px;
	height: 1.4em;
	padding: 0.3em 0 0.3em 0;  /* for descenders */
	border: none;
	border-bottom: 2px solid black;
	text-align: center
}

section.pc-header input {
	text-align: left;
	font-size: 16px;
	width: 95%;
}

input.boxed {
	font-size: 16px;
	border-style: solid;
	border-width: 1px;
}

input.num-box {
	width: 35px;
	height: 30px;
	padding-bottom: 0em;  /* don't need to allow for descenders */
	font-weight: bold;
}

input.text-box {
	width: 95%;
	height: 1.8em;
	padding: 0.3em;
}

input.temp-box {
	width: 45px;
	height: 30px;
	padding-bottom: 0em;
	font-weight: bold;
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
	outline-style: solid;
	outline-width: 3px;
	outline-color: lightgray;
}

button[type="roll"]{
	width: 40px;
	height: 40px;
	background-image: url('blue20_40px.png');
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
  	border: none;
  	padding: 0px;
  	display: inline-block;
  	transition: transform 0.3s;
}
button[type="roll"]:active {
	transform: rotate(360deg);
}

.toggle {  /*the hidden controls that toggles display of the adjustments, help, and macros*/
	position: relative;  /* overridden in .tool for help and macros */
	cursor: pointer;
	margin: 0;
	height: 100%;
	opacity: 0;
    z-index: 2;
}

.arrow {  	/* the visible carat that indicates a toggle details control */
	position: absolute;
	bottom: 3px;
	left: 18px;
	height: 18px;
	width: 18px;
	z-index: 1;
}


.hidden {background-color: yellow}  


/* ------------ general organization -----------------------*/
div.pc-sheet, div.npc-sheet {display: none;}
#pc-show:checked ~ div.pc-sheet {display:block;}
#npc-show:checked ~ div.npc-sheet {display:block;}


/* -------------- pc narrow layout:  1 column, minimum 500px -----------------------------*/

.pc-header {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(4, 50px); /* 35px for 20px input@1.7em + 10px label@1.2em + px padding */
	grid-template-areas:
		'fullname fullname displayname logo logo logo'
		'class-n-lvl class-n-lvl playername logo logo logo'
		'XP race size age pc-height pc-weight'
		'alignment deity gender eyes hair skin';
}
.logo {grid-area: logo;}
.logo img {height: 100px; object-fit: contain;}
.pc-fullname {grid-area: fullname;}
.pc-name {grid-area: displayname;}
.player-name {grid-area: playername;}
.class-n-lvl {grid-area: class-n-lvl;}
.xp {grid-area: XP;}
.race {grid-area: race;}
.size {grid-area: size;}
.alignment {grid-area: alignment;}
.deity {grid-area: deity;}
.gender {grid-area: gender;}
.age {grid-area: age;}
.pc-height {grid-area: pc-height;}
.pc-weight {grid-area: pc-weight;}
.eyes {grid-area: eyes;}
.hair {grid-area: hair;}
.skin {grid-area: skin;}

.pc-main-tab {
	display: flex;
	flex-flow: column wrap;
}

.pc-main-tab > section {width: 500px;}

.abilities {order: 1; border: 0px solid lightgreen;}
.saves {order: 2; border: 0px solid yellow;}
.HPandAC {order: 3; text-align: left; border: 0px solid cyan;}
.combat {order: 4; border: 0px solid red;}
.readied_sfm {order: 6; text-align: left; border: 0px solid lavender;}

/* ---------------------- pc medium layout: 2 columns, minimum 1000px; --------------------------*/

@media screen and (min-width: 1000px) {                     

	.pc-header {
		display:grid;
		grid-template-columns: repeat(6, 1fr) repeat(3, 100px);
		grid-template-rows: repeat(3, 50px); /* 35px for 20px input@1.7em + 10px label@1.2em + px padding */ 
		grid-template-areas:
			'fullname fullname displayname displayname playername playername logo logo logo'
			'class-n-lvl class-n-lvl XP XP alignment deity logo logo logo'
			'race size age pc-height pc-weight gender eyes hair skin';
	}

	.abilities {}
	.saves {}
	.HPandAC {order: 5;}
	.combat {break-after: always;}
	.readied_sfm {order: 6;}
}

/* -------- grid container layout for roll + modifier (with expandable adjustments) + temp ---------------*/

.roll-gc {
	position: relative;
	padding: 0px;
	text-align: center;
	display: grid;
	grid-column-gap: 0px;
	grid-row-gap: 0px; /* grid-row-gap leaves blank gaps around display none areas */
}

.plus {
	font-size: 30px;
	position: relative;
	top: 4px;
}

/* column headings for grid containers */
.roll-gc p {font-size: 9px; line-height: 1.0; margin: 5px 0px 2px 0px; display: inline-block;}

.roll-gc input.num-box, .roll-gc input.temp-box {
	position: relative;
	top: 4px;
}
.roll-gc div {margin-bottom: 5px;}

/* class names and styling features for commonly used grid areas */
.rollname {grid-area: rollname;}
.checkname {grid-area: checkname;}
.macrobutton {grid-area: macrobutton;}
.hitbutton {grid-area: hitbutton;} /* hit, check, and dmg prefixes are used when there is... */
.checkbutton {grid-area: checkbutton;} /* ... more than one roll in the grid container */
.dmgbutton {grid-area: dmgbutton;}

.mod {grid-area: mod;}
.hitmod {grid-area: hitmod;}
.checkmod {grid-area: checkmod;}
.dmgmod{grid-area: dmgmod;}

.temp {grid-area: temp;}
.hittemp {grid-area: hittemp;}
.checktemp {grid-area: checktemp;}
.dmgtemp {grid-area: dmgtemp;}

.detail {grid-area: detail; display: none;} /* detail blocks list the adjustments to a value or values */
.atkdetail {grid-area: atkdetail; display: block;} /* not like normal .detail because always visible */
.arrowcollapsed {grid-area: mod; display: block;}
.arrowexpanded {grid-area: mod; display: none;}
.showdetailbox {grid-area: mod;}
.showdetailbox:checked ~ div.detail {display: block;}
.showdetailbox:checked ~ img.arrowcollapsed {display: none;}
.showdetailbox:checked ~ img.arrowexpanded {display: block;}

.adjst-grid {
	display: grid;
	padding: 0px;
	grid-template-columns: 20px 110px 10px 30px 10px 45px;
	grid-column-gap: 0px;
	grid-row-gap: 5px;
}

.toolicons {grid-area: toolicons;}

.tool {
	width: 20px;
	height:  20px;
	position: absolute;
}
.helpicon {	   /* the visible image that indicates the help control */
	position: absolute;
	width: 20px;
	height: 20px;
	grid-area: toolicons;
	align-self: start;
	justify-self: end;
    background-image: url('help20x20.png');
    background-position: 0px 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    opacity: 0.5;
    z-index: 1;
}
.macroicon {	   /* the visible image that indicates the display macro control */
	position: absolute;
	width: 20px;
	height: 20px;
	grid-area: toolicons;
	align-self: end;
	justify-self: end;
    background-image: url('grey_wrench20x20.png');
    background-position: 0px 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    opacity: 0.5;
    z-index: 1;
}
input.tool:hover + span {
  opacity: .8;
}
input.tool:checked + span {
  opacity: 1;
}

.showhelpbox {grid-area: toolicons; align-self: start; justify-self: end;}
.showmacrobox {grid-area: toolicons; align-self: end; justify-self: end;}
.showatkhelpbox {grid-area: toolicons; align-self: start; justify-self: end;}
.showatkmacrosbox {grid-area: toolicons; align-self: end; justify-self: end;}

.help {grid-area: help; display: none;}
.showhelpbox:checked ~ div.help {display: block;}
.showatkhelpbox:checked ~ div.help {display: block;}

.macro {grid-area: macro; display: none;}
.hitmacro {grid-area: hitmacro; display: none;}
.checkmacro {grid-area: checkmacro; display: none;}
.dmgmacro {grid-area: dmgmacro; display: none;}
input.showmacrobox:checked ~ div.macro {display: block;}
input.showatkmacrosbox:checked ~ div.hitmacro {display: block;}
input.showatkmacrosbox:checked ~ div.checkmacro {display: block;}
input.showatkmacrosbox:checked ~ div.dmgmacro {display: block;}
div.help textarea {font-family: arial, sans-serif; font-variant: normal; width: 100%;
	background: url('help20x20.png') no-repeat right top; background-size: 20px 20px;}
div.macro textarea {font-family: monospace; font-variant: normal; width: 100%;
	background: url('grey_wrench20x20.png') no-repeat 97% 0%; background-size: 20px 20px;}
div.hitmacro textarea {font-family: monospace; font-variant: normal; width: 100%;
	background: url('grey_wrench20x20.png') no-repeat 97% 0%; background-size: 20px 20px;}
div.checkmacro textarea {font-family: monospace; font-variant: normal; width: 100%;
	background: url('grey_wrench20x20.png') no-repeat 97% 0%; background-size: 20px 20px;}
div.dmgmacro textarea {font-family: monospace; font-variant: normal; width: 100%;
	background: url('grey_wrench20x20.png') no-repeat 97% 0%; background-size: 20px 20px;}



section.HPandAC > h2, section.HPandAC > p, section.HPandAC > input, section.HPandAC > span
	{display: inline-block;} 



div.checkname{padding-top: 6px; text-align: right;}

div.mod span + input.boxed {top: -1px;}

fieldset > span {white-space: nowrap;}









/*.ability-grid-container div.checkname{padding-top: 6px; text-align: right;}*/

.adjst-grid > input[type="text"], .attack-adjst-grid > input[type="text"],
.ac-adjst-grid > input[type="text"] {
	width: 95%;
	text-align: center;
	font-size: 14px;
}
fieldset.adjst-grid span {position: relative; top: -2px; font-size: 20px;}



.ability-grid-container {
	grid-template-columns: 80px 45px 45px 45px 65px 50px 70px 55px 20px;
	grid-template-areas:
		'header header header header header header header header header'
		'abilityname ablscore ablmodifier abltemp checkname macrobutton mod temp toolicons'
		'scoredetail scoredetail scoredetail scoredetail detail detail detail detail detail'
		'help help help help help help help help help'
		'macro macro macro macro macro macro macro macro macro';
}
.abilityname {grid-area: abilityname;}
.ablscore {grid-area: ablscore;}
.ablmodifier {grid-area: ablmodifier;}
.abltemp {grid-area: abltemp;}
.scoredetail {grid-area: scoredetail; display: none;}

.showscoredetailbox {grid-row: 2; grid-column: 2 / 4;}
.arrowcollapsed-score {grid-area: ablscore; left: 5px;}
.arrowexpanded-score {grid-area: ablscore; left: 5px; display: none;}

.showscoredetailbox:checked ~ div.scoredetail {display: block;}
.showscoredetailbox:checked ~ img.arrowcollapsed-score {display: none;}
.showscoredetailbox:checked ~ img.arrowexpanded-score {display: block;}
.ability-grid-container .detail {margin-left: 25px;}

.save-grid-container {
	grid-template-columns: 140px 50px 70px 55px 20px;
	grid-template-areas: 
		'header header header header header'
		'rollname macrobutton mod temp toolicons'
		'detail detail detail detail detail'
		'help help help help help'
		'macro macro macro macro macro';
}

.ac-grid-container-single {
	grid-template-columns: 80px 50px 90px 50px 160px 50px;
	grid-template-areas:
		'acname acvalue touchacname touchacvalue flatacname flatacvalue'
		'acdetail acdetail acdetail acdetail acdetail acdetail';
}
.acname {grid-area: acname;}
.acvalue {grid-area: acvalue;}
.touchacname {grid-area: touchacname;}
.touchacvalue {grid-area: touchacvalue;}
.flatacname {grid-area: flatacname;}
.flatacvalue {grid-area: flatacvalue;}
.acdetail {grid-area: acdetail; display: none;}

.showacdetailbox {grid-area: acvalue;}
.arrowcollapsed-ac {grid-area: acvalue; left: 7px; bottom: 2px;}
.arrowexpanded-ac {grid-area: acvalue; left: 7px; bottom: 2px; display: none;} 

.showacdetailbox:checked ~ div.acdetail {display: block;}
.showacdetailbox:checked ~ img.arrowcollapsed-ac {display: none;} 
.showacdetailbox:checked ~ img.arrowexpanded-ac {display: block;}

.ac-grid-container-split {
	display: none;
	grid-template-columns: 80px 50px 90px 50px 160px 50px;
	grid-template-areas:
		'm-acname m-acvalue m-touchacname m-touchacvalue m-flatacname m-flatacvalue'
		'r-acname r-acvalue r-touchacname r-touchacvalue r-flatacname r-flatacvalue'
		'm-r-acdetail m-r-acdetail m-r-acdetail m-r-acdetail m-r-acdetail m-r-acdetail';
}
.m-acname { grid-area: m-acname; }
.m-acvalue { grid-area: m-acvalue; }
.m-touchacname { grid-area: m-touchacname; }
.m-touchacvalue { grid-area: m-touchacvalue; }
.m-flatacname { grid-area: m-flatacname; }
.m-flatacvalue { grid-area: m-flatacvalue; }
.r-acname { grid-area: r-acname; }
.r-acvalue { grid-area: r-acvalue; }
.r-touchacname { grid-area: r-touchacname; }
.r-touchacvalue { grid-area: r-touchacvalue; }
.r-flatacname { grid-area: r-flatacname; }
.r-flatacvalue { grid-area: r-flatacvalue; }
.m-r-acdetail { grid-area: m-r-acdetail; display: none; }

.show-mr-acdetailbox { grid-row: 1 / span 2; grid-column: 2; }
.arrowcollapsed-mrac {grid-area: m-acvalue; left: 7px; bottom: 2px;}
.arrowexpanded-mrac {grid-area: m-acvalue; left: 7px; bottom: 2px; display: none;}
.arrowcollapsed-mrac2 {grid-area: r-acvalue; left: 7px; bottom: 2px;}
.arrowexpanded-mrac2 {grid-area: r-acvalue; left: 7px; bottom: 2px; display: none;} 
	
.show-mr-acdetailbox:checked ~ div.m-r-acdetail {display: block;}
.show-mr-acdetailbox:checked ~ img.arrowcollapsed-mrac {display: none;} 
.show-mr-acdetailbox:checked ~ img.arrowexpanded-mrac {display: block;}
.show-mr-acdetailbox:checked ~ img.arrowcollapsed-mrac2 {display: none;} 
.show-mr-acdetailbox:checked ~ img.arrowexpanded-mrac2 {display: block;}

.ac-adjst-grid {
	display: grid;
	padding: 0px;
	grid-template-columns: 20px 90px 10px 30px 10px 45px 120px 100px;
	grid-column-gap: 0px;
	grid-row-gap: 5px;  /* grid-row-gap leaves blank gaps around display none areas */
}

input[id="hidden-condn-helpless"]:checked ~ div.ac-grid-container-single,
	input[id="hidden-condn-kneel"]:checked ~ div.ac-grid-container-single,
	input[id="hidden-condn-pinned"]:checked ~ div.ac-grid-container-single,
	input[id="hidden-condn-prone"]:checked ~ div.ac-grid-container-single
	{display: none;}
input[id="hidden-condn-helpless"]:checked ~ div.ac-grid-container-split,
	input[id="hidden-condn-kneel"]:checked ~ div.ac-grid-container-split,
	input[id="hidden-condn-pinned"]:checked ~ div.ac-grid-container-split,
	input[id="hidden-condn-prone"]:checked ~ div.ac-grid-container-split
	{display: grid;}

.conceal-grid-container {
	grid-template-columns: 95px 20px 35px 20px 35px 25px 50px 50px 50px 50px 20px;
	grid-template-rows: 46px auto;
	grid-template-areas:
		'concealname conceal-20 conceal-20-l conceal-50 conceal-50-l conceal-other conceal-other-l concealother buttonlabel macrobutton toolicons'
		'help help help help help help help help help help help'
		'macro macro macro macro macro macro macro macro macro macro macro';
}
.concealname {grid-area: concealname; height: 26px; margin-top: 15px;}
.conceal-20 {grid-area: conceal-20;  height: 26px; margin-top: 10px;}
.conceal-20-l {grid-area: conceal-20-l; text-align: left; padding-left: 5px; height: 26px; margin-top: 20px;}
.conceal-50 {grid-area: conceal-50; height: 26px; margin-top: 10px;}
.conceal-50-l {grid-area: conceal-50-l; text-align: left; padding-left: 5px; height: 26px; margin-top: 20px;}
.conceal-other {grid-area: conceal-other;  height: 26px; margin-top: 10px;}
.conceal-other-l {grid-area: conceal-other-l; text-align: left; height: 26px; margin-top: 20px;}
input.concealother {grid-area: concealother; height: 26px; width: 35px; margin-top: 8px;}
.buttonlabel {grid-area: buttonlabel; text-align: right; margin-top: 5px; padding-right: 5px;}

.init-grid-container {
	grid-template-columns: 125px 50px 70px 55px 20px;
	grid-template-rows: auto 46px auto auto;
	grid-template-areas:
		'header header header header header'
		'rollname macrobutton mod temp toolicons'
		'detail detail detail detail detail'
		'help help help help help'
		'macro macro macro macro macro';
}


/* User chooses which attack format is displayed */
input.tbhat[value="melee"]:checked ~ .meleeranged-atk-gc {display: grid;}
input.tbhat[value="ranged"]:checked ~ .meleeranged-atk-gc {display: grid;}
input.tbhat[value="sunder"]:checked ~ .meleeranged-atk-gc {display: grid;}
input.tbhat[value="aid"]:checked ~ .aiddisarm-atk-gc {display: grid;}
input.tbhat[value="disarm"]:checked ~ .aiddisarm-atk-gc {display: grid;}
input.tbhat[value="grapple"]:checked ~ .grappletrip-atk-gc {display: grid}
input.tbhat[value="trip"]:checked ~ .grappletrip-atk-gc {display: grid}
input.tbhat[value="bull"]:checked ~ .check-atk-gc {display: grid}
input.tbhat[value="feint"]:checked ~ .check-atk-gc {display: grid}
input.tbhat[value="overrun"]:checked ~ .check-atk-gc {display: grid}
input.tbhat[value="turn"]:checked ~ .turn-atk-gc {display: grid}

/* The combat controls and details for melee, ranged, and sunder attacks. Incorporates critical hits */
.meleeranged-atk-gc {
	display: none;
	grid-template-columns: 50px 70px 55px 70px 50px 70px 55px 40px;
	grid-template-rows: 36px 48px auto auto auto auto auto auto auto auto auto;
	grid-template-areas:
		'atkheader atkheader atkheader atkheader atkheader atkheader atkheader criticon'
		'hitbutton hitmod hittemp critrange dmgbutton dmgmod dmgtemp toolicons'
		'help help help help help help help help'
		'critgc critgc critgc critgc critgc critgc critgc critgc'
		'atkdetail atkdetail atkdetail atkdetail atkdetail atkdetail atkdetail atkdetail'
		'hitmacro hitmacro hitmacro hitmacro hitmacro hitmacro hitmacro hitmacro'
		'dmgmacro dmgmacro dmgmacro dmgmacro dmgmacro dmgmacro dmgmacro dmgmacro';
}
.critrange {grid-area: critrange;}
.critrange > input {width: 80%; text-align: center; margin-top: 10px;}
.criticon {grid-area: criticon;}

.showcritcontrolbox {grid-area: criticon;}

.showcritcontrolbox:checked ~ div.meleeranged-crit-gc {display: grid;}

.melee-atk {display: none;}
.ranged-atk {display: none;}
.sunder-atk {display: none;}
input.tbhat[value="melee"]:checked ~ .meleeranged-atk-gc .melee-atk {display: contents}
input.tbhat[value="ranged"]:checked ~ .meleeranged-atk-gc .ranged-atk {display: contents}
input.tbhat[value="sunder"]:checked ~ .meleeranged-atk-gc .sunder-atk {display: contents}


.attack-adjst-grid {
	display: grid;
	padding: 0px;
	grid-template-columns: 20px 120px 10px 35px 10px 50px 50px 50px;
	grid-column-gap: 0px;
	grid-row-gap: 0px;  /* grid-row-gap leaves blank gaps around display none areas */
}

.meleeranged-crit-gc {
	grid-area: critgc;
	display: none;
	position: relative;
	padding: 0px; /* this is the padding outside the grid container*/
	text-align: center;
	font-size: 16px;
	grid-template-columns: 50px 70px 55px 70px 50px 70px 55px 40px;
	grid-template-rows: 36px 48px auto auto auto auto auto auto auto auto auto;
	grid-template-areas:
		'critheader critheader critheader critheader critheader critheader critheader .'
		'confbutton hitmod confbonus dmgparens dmgparens critmult othercritdmg toolicons'
		'critdetail critdetail critdetail critdetail critdetail critdetail critdetail critdetail'
		'crithelp crithelp crithelp crithelp crithelp crithelp crithelp crithelp'
		'critconfmacro critconfmacro critconfmacro critconfmacro critconfmacro critconfmacro critconfmacro critconfmacro'
		'critdmgmacro critdmgmacro critdmgmacro critdmgmacro critdmgmacro critdmgmacro critdmgmacro critdmgmacro';
		
	grid-column-gap: 0px;
	grid-row-gap: 0px;  /* grid-row-gap leaves blank gaps around display none areas */
}

.confbutton {grid-area: confbutton;}
.hitmod {grid-area: hitmod;}
.confbonus {grid-area: confbonus;}
.dmgparens { grid-area: dmgparens; }
.critmult { grid-area: critmult; }
.othercritdmg { grid-area: othercritdmg; }

.showcritbuttons { grid-area: showcritbuttons; }

.critdetail { grid-area: critdetail; display: none;}
.crithelp { grid-area: crithelp; display: none; }
.critconfmacro { grid-area: critconfmacro; display: none; }
.critdmgmacro { grid-area: critdmgmacro; display: none; }

.showcritdetailbox { grid-area: showcritbuttons; width: 20px; height: 20px ;position: relative; top: 0px;}
.showcrithelpbox { grid-area: showcritbuttons; width: 25px; height: 25px; position: relative; top: 20px;}
.showcritmacrosbox { grid-area: showcritbuttons; width: 25px; height: 25px; position: relative; top: 45px;}

.showcritdetailbox:checked ~ div.critdetail {display: block;}
.showcrithelpbox:checked ~ div.crithelp {display: block;}
.showcritmacrosbox:checked ~ div.critconfmacro {display: block;}
.showcritmacrosbox:checked ~ div.critdmgmacro {display: block;}

.critdetail {grid-area: critdetail;}
.crit-adjst-grid {
	display: grid;
	padding: 0px;
	grid-template-columns: 20px 120px 10px 35px 10px 50px 50px 50px 50px;
	grid-column-gap: 0px;
	grid-row-gap: 0px;  /* grid-row-gap leaves blank gaps around display none areas */
}


/* The combat controls and details for aid another and disarm actions. To-hit roll only. */
.aiddisarm-atk-gc {
	display: none;
	grid-template-columns: 55px 70px 55px 240px 40px;
	grid-template-rows: 36px 48px auto auto auto;
	grid-template-areas:
		'atkheader atkheader atkheader . .'
		'hitbutton hitmod hittemp . toolicons'
		'help help help help help'
		'atkdetail atkdetail atkdetail atkdetail atkdetail'
		'hitmacro hitmacro hitmacro hitmacro hitmacro';
}

.aid-atk {display: none;}
.disarm-atk {display: none;}
input.tbhat[value="aid"]:checked ~ .aiddisarm-atk-gc .aid-atk {display: contents}
input.tbhat[value="disarm"]:checked ~ .aiddisarm-atk-gc .disarm-atk {display: contents}


/* The combat controls and details for grapple and trip actions. To-hit roll and strength check. */
.grappletrip-atk-gc {
	display: none;
	grid-template-columns: 55px 70px 55px 65px 50px 70px 55px 40px;
	grid-template-rows: 36px 48px auto auto auto;
	grid-template-areas:
		'atkheader atkheader atkheader atkheader atkheader atkheader atkheader .'
		'hitbutton hitmod hittemp checkname checkbutton checkmod checktemp toolicons'
		'help help help help help help help help'
		'atkdetail atkdetail atkdetail atkdetail atkdetail atkdetail atkdetail atkdetail'
		'hitmacro hitmacro hitmacro hitmacro hitmacro hitmacro hitmacro hitmacro'
		'checkmacro checkmacro checkmacro checkmacro checkmacro checkmacro checkmacro checkmacro';
}

.grapple-atk {display: none;}
.trip-atk {display: none;}
input.tbhat[value="grapple"]:checked ~ .grappletrip-atk-gc .grapple-atk {display: contents}
input.tbhat[value="trip"]:checked ~ .grappletrip-atk-gc .trip-atk {display: contents}


/* The combat controls and details for bull rush, overrun, and feint actions. Strength or skill check only. */
.check-atk-gc {
	display: none;
	grid-template-columns: 65px 50px 70px 55px 180px 40px;
	grid-template-rows: 36px 48px auto auto auto;
	grid-template-areas:
		'atkheader atkheader atkheader atkheader . .'
		'checkname checkbutton checkmod checktemp . toolicons'
		'help help help help help help'
		'atkdetail atkdetail atkdetail atkdetail atkdetail atkdetail '
		'checkmacro checkmacro checkmacro checkmacro checkmacro checkmacro';
}

.bullrush-atk {display: none;}
.overrun-atk {display: none;}
.feint-atk {display: none;}
input.tbhat[value="bull"]:checked ~ .check-atk-gc .bullrush-atk {display: contents}
input.tbhat[value="feint"]:checked ~ .check-atk-gc .feint-atk {display: contents}
input.tbhat[value="overrun"]:checked ~ .check-atk-gc .overrun-atk {display: contents}


/* The combat controls and details for turn undead. A check and a damage roll. */
.turn-atk-gc {
	display: none;
	grid-template-columns: 65px 50px 70px 55px 55px 70px 55px 40px;
	grid-template-rows: auto 36px 48px auto auto auto;
	grid-template-areas:
		'turnlevel turnlevel turnlevel turnlevel turnlevel turnlevel turnlevel turnlevel'
		'atkheader atkheader atkheader atkheader atkheader atkheader atkheader .'
		'checkname checkbutton checkmod checktemp dmgbutton dmgmod dmgtemp toolicons'
		'help help help help help help help help'
		'turncheckdetail turncheckdetail turncheckdetail turncheckdetail turndmgdetail turndmgdetail turndmgdetail turndmgdetail'
		'checkmacro checkmacro checkmacro checkmacro checkmacro checkmacro checkmacro checkmacro'
		'dmgmacro dmgmacro dmgmacro dmgmacro dmgmacro dmgmacro dmgmacro dmgmacro';
}
.turnlevel {grid-area: turnlevel;}
.turn-atk-gc > div {margin-bottom: -12px;}

.turncheckdetail {grid-area: turncheckdetail; display: block;}
.turndmgdetail {grid-area: turndmgdetail; display: block;}

.turn-lvl-gc{
	grid-area: turnlevel;
	display: grid;
	position: relative;
	padding: 0px; /* this is the padding outside the grid container*/
	font-size: 16px;
	grid-template-columns: 100px 50px;
	grid-template-areas:
		'turnlvlname turnlvlvalue'
		'turnlvldetail turnlvldetail';
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}
.turnlvlname {grid-area: turnlvlname;}
.turnlvlvalue {grid-area: turnlvlvalue;}
.turnlvldetail {grid-area: turnlvldetail; display: none;}

.showturnlvldetailbox {grid-row: 1; grid-column: 2;}
.arrowcollapsed-turn {grid-area: turnlvlvalue; left: 8px;}
.arrowexpanded-turn {grid-area: turnlvlvalue; display: none;}

.showturnlvldetailbox:checked ~ div.turnlvldetail {display: block;}
.showturnlvldetailbox:checked ~ img.arrowcollapsed-turn {display: none;}
.showturnlvldetailbox:checked ~ img.arrowexpanded-turn {display: block; left: 8px;}


/* ----------------------------------------Tabs (reskinned radio button)---------------------------------- */

div.tabcontent1,
div.tabcontent2,
div.tabcontent3,
div.tabcontent4,
div.tabcontent5,
div.tabcontent6,
div.tabcontent7,
div.tabcontent8
{ 
	display: none;
}


input.pc-tab1:checked ~ div.tabcontent1,
input.pc-tab2:checked ~ div.tabcontent2,
input.pc-tab3:checked ~ div.tabcontent3,
input.pc-tab4:checked ~ div.tabcontent4,
input.pc-tab4:checked ~ div.tabcontent5,
input.pc-tab4:checked ~ div.tabcontent6,
input.pc-tab4:checked ~ div.tabcontent7,
input.pc-tab4:checked ~ div.tabcontent8,
input.pc-tab99:checked ~ div.pc-tab99
{
    display: block;
}

input.pc-tab1:checked + span.pc-tab1,
input.pc-tab2:checked + span.pc-tab2,
input.pc-tab3:checked + span.pc-tab3,
input.pc-tab4:checked + span.pc-tab4,
input.pc-tab99:checked + span.pc-tab99
{
	background: gray;
	color: white;
}

/* Style the tabs */
input.pc-tab {opacity: 0; z-index: 9999;}
span.pc-tab { display: inline-block; }

.pc-tab
{
    display: inline-block;
    text-align: center;
    margin:  2px;
    padding: 2px;   
    height: 24px;    
    border-top-left-radius: 1em 3em;
    border-top-right-radius: 1em 3em;
    border: solid thin gray;
    border-bottom: none;
    cursor: pointer;
}

.tab-grid-container {
	display: grid;
	text-align: center;
	font-size: 13px;
	background: white;
	color: gray;
	font-weight: bold;
	grid-template-columns: repeat(5, 1fr);
	grid-template-areas: 
		'tab1 tab2 tab3 tab4 tab99' 
		'tabcontent1 tabcontent1 tabcontent1 tabcontent1 tabcontent1'
		'tabcontent2 tabcontent2 tabcontent2 tabcontent2 tabcontent2'
		'tabcontent3 tabcontent3 tabcontent3 tabcontent3 tabcontent3'
		'tabcontent4 tabcontent4 tabcontent4 tabcontent4 tabcontent4'
		'tabcontent5 tabcontent5 tabcontent5 tabcontent5 tabcontent5'
		'tabcontent6 tabcontent6 tabcontent6 tabcontent6 tabcontent6'
		'tabcontent7 tabcontent7 tabcontent7 tabcontent7 tabcontent7'
		'tabcontent8 tabcontent8 tabcontent8 tabcontent8 tabcontent8';
}
.pc-tab1 { grid-area: tab1; }
.pc-tab2 { grid-area: tab2; }
.pc-tab3 { grid-area: tab3; }
.pc-tab4 { grid-area: tab4; }
.pc-tab99 { grid-area: tab99; }

.tabcontent1 { grid-area: tabcontent1; }
.tabcontent2 { grid-area: tabcontent2; }
.tabcontent3 { grid-area: tabcontent3; }
.tabcontent4 { grid-area: tabcontent4; }
.tabcontent5 { grid-area: tabcontent5; }
.tabcontent6 { grid-area: tabcontent6; }
.tabcontent7 { grid-area: tabcontent7; }
.tabcontent8 { grid-area: tabcontent8; }


/* -----------------------Skinned checkbox for Arrow toggles (►/▼)----------------------- */
/* Hide actual checkbox */
input.arrow[type="checkbox"]{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* Fake checkbox */
input.arrow[type="checkbox"] + span::before{
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;

    content: "►";
    width: 14px;
    height: 14px;
    font-size: 12px;
}
input.arrow[type="checkbox"]:checked + span::before { content: "▼"; }

/* ------------------------------------------------------------------------------------------*/

